


/* INICIO FORMULARIO /UBICACION */

.sectionMapaContainer{
    color: var(--color2);
    text-align: center;
    @media only screen and (max-width:790px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mapa{
        width:100% 
    }
}
/* FIN FORMULARIO /UBICACION */